---
---
@import "responsive.scss"; // https://gist.github.com/maxluster/168e650267bac9faaafd

$named-breakpoints: (
  "320": 320px,
  "480": 480px,
  "iphone5": 568px,
  "android": 640px,
  "ipad": (min-device-width 768px) (max-device-width 1024px),
  "tablet": 800px,
  "big1": 1400px,
  "big2": 1600px,
  "big3": 1800px,
  "big4": 2000px
);

$primary-font: "Abril Fatface", Helvetica, Arial, sans-serif;
$secondary-font: "Playfair Display", Helvetica, Arial, sans-serif;
$tertiary-font: Helvetica, Arial, sans-serif;

$highlight-color: #FFCC11;

::-moz-selection {
  background: rgba(0, 0, 0, 0.996);
  color: white;
}

::selection {
  background: rgba(0, 0, 0, 0.996);
  color: white;
}

img::-moz-selection {
  background: rgba(0, 0, 0, 0.6);
  color: white;
}

img::selection {
  background: rgba(0, 0, 0, 0.6);
  color: white;
}

/* GLOBAL */
html {
  background-color: black;
}

body {
  font-family: $tertiary-font;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  color: black;
  background-color: black;
  @include responsive("font-size", 8px, (   
      "320": 8px,
      "480": 9px,
      "iphone5": 10px,
      "android": 10px,
      "ipad": 14px,
      "tablet": 14px,
      "big1": 16px,
      "big2": 17px,
      "big3": 18px,
      "big4": 19px
    )
  );
  min-width: 320px;
}

main {
  color: black;
  background-color: white;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

h1,
h2,
h3 {
  margin: 0;
  font-family: $primary-font;
  font-weight: 400;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 1.5em;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s;
}

a:hover {
  color: $highlight-color;
}

a:focus {
  outline: none;
}

#main-logo {
  position: fixed;
  top: 2em;
  left: 2em;
  width: 5em;
  height: 2em;
  line-height: 2em;
  z-index: 200;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: black;
  /* prevent tiny fonts */
  @include responsive("font-size", 10px, (   
      "iphone5": 1em,
      "android": 1em
    )
  );
}

#main-menu {
  position: fixed;
  top: 2em;
  right: 2em;
  width: 2em;
  height: 2em;
  z-index: 200;
  text-align: center;
  /* prevent tiny fonts */
  @include responsive("font-size", 10px, (   
      "iphone5": 1em,
      "android": 1em
    )
  );
}

nav {
  height: 0;
  width: 100vw;
  position: fixed;
  z-index: 150;
  left: 0;
  bottom: 0;
  color: white;
  background-color: black;
  transition: 0.4s;
}

nav hr {
  margin-top: 4em;
  margin-bottom: 4em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li a {
  display: block;
  text-align: center;
  font-size: 2.5em;
  font-family: $secondary-font;
  font-weight: 400;
  font-style: italic;
  margin-top: 0.5em;
}

.fa {
  font-size: 3em;
  width: 2em;
  text-align: center;
  text-decoration: none;
  text-align: center;
}

.social-icons {
  display: block;
  text-align: center;
}

#cover {
  height: 0;
  width: 100vw;
  position: fixed;
  z-index: 300;
  left: 0;
  bottom: 0;
  background-color: black;
  transition: 0.4s;
}

.underline {
  position: relative;
  white-space: nowrap;
  padding-top: 0.175em;
  /* padding-left: 0.125em; */
}

.underline::after {
  z-index: -50;
  position: absolute;
  content: '';
  height: 0.05em;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: currentColor;
}

/* FULLSCREEN */
#fullscreen {
  background-color: white;
  position: absolute;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  min-width: 100vw;
  min-height: 100vh;
}

#fullscreen>section {
  width: 100vw;
  height: 100vh;
}

.card {
  width: 50vw;
}

#pagination {
  position: fixed;
  right: -100vh;
  top: 0;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 100vh;
  height: 2em;
  padding-top: 2em;
  line-height: 2em;
  z-index: 100;
  text-align: center;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#section-current {
  padding-left: 4em;
  padding-right: 1em;
}

#section-total {
  padding-left: 1em;
  padding-right: 4em;
}

/* INDIVIDUAL POST */
.post {
  margin: auto;
  padding-top: 8em;
  padding-bottom: 4em;
  @include responsive("width", 85vw, (   
      "320": 85vw,
      "480": 80vw,
      "iphone5": 75vw,
      "android": 75vw,
      "ipad": 70vw,
      "tablet": 70vw,
      "big1": 60vw
    )
  );
  text-align: center;
}

.post p {
  text-align: justify;
}

.post::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

#prev-next {
  width: 100vw;
  color: white;
  background-color: black;
}

#link-prev {
  float: left;
  text-align: left;
  min-height: 9em;
  padding: 4em 0 4em 3em;
  width: 44vw;
}

/* #link-dir {
  float: left;
  text-align: center;
  min-height: 9em;
  padding: 4em 3em 4em 3em;
  width: 18vw;
} */

#link-next {
  float: right;
  text-align: right;
  min-height: 9em;
  padding: 4em 3em 4em 0;
  width: 44vw;
}

.center-both {
  position: relative;
  display: inline-block;
  left: 50vw;
  top: 50vh;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.breadcrumb {
  display: block;
  font-family: $tertiary-font;
  font-weight: 400;
}

.date {
  display: block;
  font-family: $tertiary-font;
  font-weight: 400;
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.title {
  display: block;
  font-size: 4.5em;
  font-family: $primary-font;
  font-weight: 400;
  line-height: 1.25em;
  margin-bottom: 0.25em;
}

.intro {
  display: block;
  font-size: 2em;
  font-family: $secondary-font;
  font-weight: 400;
  font-style: italic;
  margin-top: 0.25em;
}

.title.large {
  font-size: 6em;
  line-height: 1.25em;
}

.intro.large {
  font-size: 2.5em;
  margin-top: 0.5em;
}

.title.small {
  font-size: 3em;
  line-height: 1.25em;
}

.intro.small {
  font-size: 1.25em;
  margin-top: 0.5em;
}

.image-full {
  width: 120%;
  margin-left: -10%;
  max-height: 40em;
  object-fit: cover;
}

.image-left,
.image-right {
  display: block;
  position: relative;
  float: right;
  width: 50%;
  object-fit: cover;
  margin: 2em -5% 2em 2.5em;
  @include responsive("margin-right", -5%, (   
      "320": -5%,
      "480": -5%,
      "iphone5": -5%,
      "android": -5%,
      "ipad": -7.5%,
      "tablet": -7.5%,
      "big1": -10%
    )
  );
}

.image-left {
  float: left;
  margin: 2em 2.5em 2em -5%;
  @include responsive("margin-left", -5%, (   
      "320": -5%,
      "480": -5%,
      "iphone5": -5%,
      "android": -5%,
      "ipad": -7.5%,
      "tablet": -7.5%,
      "big1": -10%
    )
  );
}

.image-right.double {
  width: 57.5%;
  margin-left: 1.25em;
}

.image-left.double {
  width: 57.5%;
  margin-right: 1.25em;
}

.fade-in {
  opacity: 0;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.fade-up {
  opacity: 0;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.delay-sm {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.delay-md {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.delay-lg {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

hr {
  border: 0;
  border-bottom: 0.1em solid currentColor;
  margin-top: 1.25em;
  margin-bottom: 1.5em;
}

/* PULL QUOTES */
.pullquote-left,
.pullquote-right {
  font-style: normal;
}

.pullquote-right::after,
.pullquote-left::after {
  display: block;
  position: relative;
  padding: 0;
  border: none;
  text-align: left;
  font-family: $secondary-font;
  font-style: italic;
  /* content: "\201C\00A0" attr(data-pullquote) "\00A0\201D"; */
  content: attr(data-pullquote);
  float: right;
  width: 40%;
  margin: 1em -5% 1em 1.25em;
  @include responsive("margin-right", -5%, (   
      "320": -5%,
      "480": -5%,
      "iphone5": -5%,
      "android": -5%,
      "ipad": -7.5%,
      "tablet": -7.5%,
      "big1": -10%
    )
  );
  font-size: 2em;
}

.pullquote-left::after {
  float: left;
  margin: 1em 1.25em 1em -5%;
  @include responsive("margin-left", -5%, (   
      "320": -5%,
      "480": -5%,
      "iphone5": -5%,
      "android": -5%,
      "ipad": -7.5%,
      "tablet": -7.5%,
      "big1": -10%
    )
  );
}

/* HAMBURGER MENU */
.hamburger {
  padding: 0;
  outline: none;
  width: 2em;
  height: 2em;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover .hamburger-inner,
  .hamburger:hover .hamburger-inner::before,
  .hamburger:hover .hamburger-inner::after,
  .hamburger.is-active:hover .hamburger-inner,
  .hamburger.is-active:hover .hamburger-inner::before,
  .hamburger.is-active:hover .hamburger-inner::after {
    background-color: $highlight-color; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #FFFFFF; }

.hamburger-box {
  width: 2em;
  height: 2em;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -0.05em; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 1.25em;
    left: 0.375em;
    height: 0.1em;
    background-color: #000000;
    border-radius: 0.1em;
    position: absolute;
    transition: -webkit-transform 0.15s ease;
    transition: transform 0.15s ease;
    transition: transform 0.15s ease, -webkit-transform 0.15s ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -0.375em;
    left: 0; }
  .hamburger-inner::after {
    bottom: -0.375em;
    left: 0; }

.hamburger--squeeze .hamburger-inner {
  transition: background-color 0.2s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0.2s ease;
  transition: transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0.2s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease, background-color 0.2s ease; }
  .hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease, background-color 0.2s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0.2s ease;
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0.2s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease, background-color 0.2s ease; }
  .hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    transition: bottom 0.075s ease, background-color 0.2s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0.2s ease;
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0.2s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }