@font-face {
    font-family: Mellony;
    font-display: block;
    src: url('/font/mellony.ttf');
}

@font-face {
    font-family: Lato;
    font-display: block;
    src: url('/font/lato.ttf');
}

/* GLOBAL */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  color: black;
  background-color: white;
}

@keyframes fadeAndScale {
    from {
        opacity: 0.5;
        transform: scale(0.9, 0.9);
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 20px, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInUpDelay {
    0% {
        opacity: 0;
        transform: translate3d(0, 20px, 0);
    }
    16.7% {
        opacity: 0;
        transform: translate3d(0, 20px, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

h1, h2, h3 {
  margin: 0;
  letter-spacing: 0.02em;
}

.outline>a, a>.outline {
  color: white;
  text-shadow:
    1px 0 black,
    -1px 0 black,
    0 1px black,
    0 -1px black;
}

.outline>a:hover, a:hover>.outline {
  color: black;
}

h1 {
  font-size: 3em;
  font-family: "Abril Fatface", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

h2 {
  font-size: 2.25em;
  font-family: "Playfair Display", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: italic;
}

h3 {
  font-size: 1.5em;
  font-family: "Playfair Display", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: italic;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.5s;
}

a:hover {
  color: inherit;
  transition: color 0.2s;
}

#main-logo {
  position: fixed;
  top: 2em;
  left: 2em;
  width: 5em;
  height: 2em;
  line-height: 2em;
  z-index: 200;
  text-align: center;
  user-select: none;
  color: black;
  transition: color 0.15s;
}

#main-menu {
  position: fixed;
  top: 2em;
  right: 2em;
  width: 2em;
  height: 2em;
  z-index: 200;
  text-align: center;
}

nav {
  height: 0;
  width: 100vw;
  position: fixed;
  z-index: 150;
  left: 0;
  bottom: 0;
  color: white;
  background-color: black;
  transition: 0.4s;
}

#pagination {
  position: fixed;
  right: -100vh;
  top: 0;
  transform-origin: 0 0;
  transform: rotate(90deg);
  width: 100vh;
  height: 2em;
  padding-top: 2em;
  line-height: 2em;
  z-index: 100;
  text-align: center;
}

#section-current {
  padding-left: 4em;
  padding-right: 1em;
}

#section-total {
  padding-left: 1em;
  padding-right: 4em;
}

/* FULL SCREEN */
#fullscreen {
    position: absolute;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

#fullscreen::-webkit-scrollbar {
    display: none;
}

#fullscreen>section {
  width: 100vw;
  height: 100vh;
}

.post {
  margin-top: 4em;
  width: 60vw;
  text-align: justify;
}

.center-x {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
}

.center-y {
  position: relative;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
}

.center-both {
  position: relative;
  display: inline-block;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-45%);
}

.intro {
  width: 55vw;
  animation-duration: 1s;
  animation-name: fadeIn;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: lowercase;
}

.title {
  width: 55vw;
  margin-top: -0.25em;
  animation-duration: 1s;
  animation-name: fadeInUp;
  font-size: 6em;
  font-family: "Abril Fatface", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.preview {
  width: 40vw;
  animation-duration: 1.2s;
  animation-name: fadeInUpDelay;
  font-size: 2.25em;
  font-family: "Playfair Display", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: italic;
}

/* HAMBURGER */
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  outline: 0;
  overflow: visible; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: white; }

.hamburger-box {
  width: 2em;
  height: 2em;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 0.95em;
  left: 0.15em;
  margin: 0; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 1em;
    height: 0.1em;
    background-color: black;
    border-radius: 0.15em;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -0.3em; }
  .hamburger-inner::after {
    bottom: -0.3em; }

/*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease; }
  .hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease; }
  .hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/* MEDIA QUERIES */
@media(max-width: 1224px) {

}

@media(max-width: 768px) {
  
}

@media(max-width: 320px) {

}