---
layout: default
---
<div id="fullscreen">
  {% for page in site.pages %}
    {% if page.name == 'about.md' %}
      <section>
        <div class="card center-both">
          <a class="title-lg fade-up delay-sm" href="{{ page.url }}">{{ page.title }}</a>
          <span class="intro-lg fade-up delay-md">{{ page.intro }}</span>
        </div>
      </section>
    {% endif %}
  {% endfor %}
  {% assign page = site.projects.last %}
  <section>
    <div class="card center-both">
      <span class="breadcrumb fade-in delay-sm">work → latest</span>
      <a class="title-lg fade-up delay-sm" href="{{ page.url }}">{{ page.title }}</a>
      <span class="intro-lg fade-up delay-md">{{ page.intro }}</span>
    </div>
  </section>
  {% assign page = site.posts.last %}
  <section>
    <div class="card center-both">
      <span class="breadcrumb fade-in delay-sm">blog → latest</span>
      <a class="title-lg fade-up delay-sm" href="{{ page.url }}">{{ page.title }}</a>
      <span class="intro-lg fade-up delay-md">{{ page.intro }}</span>
    </div>
  </section>
</div>