<div id="main-logo"><span><a href="/">ogilliland.</a></span></div>
<div id="main-menu">
  <button class="hamburger hamburger--squeeze" type="button" aria-label="Toggle menu">
    <span class="hamburger-box"><span class="hamburger-inner"></span></span>
  </button>
</div>
<nav id="nav">
  <div id="nav-links" class="card center-both" style="display: none;">
    <hr class="fade-up delay-md">
    <ul class="fade-up delay-md">
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/work/">Projects</a></li>
    </ul>
    <hr class="fade-up delay-md">
    <span class="social-icons fade-up delay-lg">
      <a href="https://www.linkedin.com/in/oliver-gilliland/" class="fa fa-linkedin"></a>
      <a href="https://github.com/ogilliland" class="fa fa-github-alt"></a>
      <a href="https://twitter.com/ollymg" class="fa fa-twitter"></a>
    </span>
  </div>
</nav>