{% if page.collection %}
  {% assign posts = site[page.collection] | where: "layout", "post" | sort: "date" %}

  {% for post in posts %}
    {% if post.title == page.title %}
      {% unless forloop.first %}
        {% assign prev = tmpprev %}
      {% endunless %}
      {% unless forloop.last %}
        {% assign next = posts[forloop.index] %}
      {% endunless %}
    {% endif %}
    {% assign tmpprev = post %}
  {% endfor %}

  {% if posts.size > 1 %}
  <div class="prev-next">
    {% if prev %}<a href="{{ prev.url }}" class="link-prev"><span class="link-prev__title">{{ prev.title }}</span></a>{% endif %}
    {% if next %}<a href="{{ next.url }}" class="link-next"><span class="link-next__title">{{ next.title }}</span></a>{% endif %}
  </div>
  {% endif %}
{% endif %}