{% if page.collection %}
  {% assign posts = site[page.collection] | where:"layout", "post" | sort: 'date' %}

  {% for post in posts %}
    {% if post.title == page.title %}
      {% unless forloop.first %}
        {% assign prev = tmpprev %}
      {% endunless %}
      {% unless forloop.last %}
        {% assign next = posts[forloop.index] %}
      {% endunless %}
    {% endif %}
    {% assign tmpprev = post %}
  {% endfor %}

  {% if posts.size > 1 %}
  <div id="prev-next">
    {% if prev %}<div id="link-prev"><a href="{{prev.url}}"><span class="intro-md">Prev.</span><span class="title-sm">{{ prev.title }}</span></a></div>{% endif %}
    {% if next %}<div id="link-next"><a href="{{next.url}}"><span class="intro-md">Next</span><span class="title-sm">{{ next.title }}</span></a></div>{% endif %}
  </div>
  {% endif %}
{% endif %}