<!doctype html>
<html lang="en">
  <head>

    <!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-130213644-1', 'auto');
    ga('send', 'pageview');
    </script>

    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    
    {% seo title=false %}

    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="/img/favicon/ms-icon-144x144.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000000">

    <!-- external styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface:400|Playfair+Display:400i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- custom styles -->
    <link rel="stylesheet" href="/css/styles.css">

    <!-- scripts will be loaded here -->
  </head>

  <body>

    <header>
      <div id="main-logo"><span><a href="/">ogilliland.</a></span></div>
      <div id="main-menu">
        <button class="hamburger hamburger--squeeze" type="button" aria-label="Toggle menu">
          <span class="hamburger-box"><span class="hamburger-inner"></span></span>
        </button>
      </div>
      <nav id="nav">
        <div id="nav-links" class="card center-both" style="display: none;">
          <hr class="fade-up delay-md">
          <ul class="fade-up delay-md">
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="/work/">Projects</a></li>
          </ul>
          <hr class="fade-up delay-md">
          <span class="social-icons fade-up delay-lg">
            <a href="https://www.linkedin.com/in/oliver-gilliland/" class="fa fa-linkedin"></a>
            <a href="https://github.com/ogilliland" class="fa fa-github-alt"></a>
            <a href="https://twitter.com/ollymg" class="fa fa-twitter"></a>
          </span>
        </div>
      </nav>
      <div id="pagination" style="display: none;">
        <a onclick="upSection()" style="cursor: pointer; cursor: hand;">❮</a>
        <span id="section-current">#</span>/<span id="section-total">#</span>
        <a onclick="downSection()" style="cursor: pointer; cursor: hand;">❯</div></a>
      </div>
    </header>

    <div id="cover"></div>
    <form method="post" id="transition">
    <input type="hidden" name="animate" value="true">
    </form>

    <main>
      {{ content }}
    </main>

    <!-- load scripts -->
    <script type="text/javascript">
      var seq = ['/js/scripts.js'];

      function loadScript( url, callback ) {

        var script = document.createElement( "script" )
        script.type = "text/javascript";

        if(script.readyState) {  // IE
          script.onreadystatechange = function() {
            if ( script.readyState === "loaded" || script.readyState === "complete" ) {
              script.onreadystatechange = null;
              callback();
            }
          }
        } else {  // others
          script.onload = function() {
            callback();
          }
        }

        script.src = url;
        document.getElementsByTagName('head')[0].appendChild(script);
      }

      window.onload = function() {

        function iter(i) {
          loadScript(seq[i], function() {
            if(i+1 < seq.length) {
              iter(i+1);
            } else {
              init();
            }
          });
        }

        iter(0);

      }
    </script>

  </body>

</html>