<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main>
      {{ content }}
    </main>
    {% include footer.html %}
    <!-- show / hide header -->
    <script type="text/javascript">
      var debounce = false;
      var debounceDur = 100; // ms
      var minScroll = 100; // px
      var hotZone = 75; //px
      var mouseY;
      moveHeader(); // reset on first load
      document.addEventListener("wheel", function(e) {
        if (debounce) { return; }
        debounce = true;
        setTimeout(function() {
          debounce = false;
        }, debounceDur);
        moveHeader();
      });
      document.addEventListener("mousemove", function(e) {
        if (debounce) { return; }
        debounce = true;
        setTimeout(function() {
          debounce = false;
        }, debounceDur);
        mouseY = e.clientY;
        moveHeader();
      });
      function moveHeader(posY) {
        if(window.pageYOffset < minScroll || mouseY < hotZone) {
          document.getElementById("header").style.top = 0;
        } else {
          document.getElementById("header").style.top = "-3em";
        }
      }
    </script>
  </body>
</html>